@font-face {
  font-family: Inter; 
  src: url("../fonts/Inter.ttf"); 
  font-weight: 100;
}

@font-face {
  font-family: Oswald; 
  src: url("../fonts/Oswald.ttf"); 
  font-weight: 400;
}

@font-face {
  font-family: Poppins; 
  src: url("../fonts/Poppins-Regular.ttf"); 
  font-weight: 400;
}

@font-face {
  font-family: Poppins; 
  src: url("../fonts/Poppins-ExtraBold.ttf"); 
  font-weight: 800;
}

@font-face {
  font-family: Lato; 
  src: url("../fonts/Lato-Regular.ttf"); 
  font-weight: 400;
}

@font-face {
  font-family: OpenSans; 
  src: url("../fonts/OpenSans-Medium.ttf"); 
}


@media (orientation: landscape) {
	:root{
		color-scheme: only light;
	}
	
	body {
		margin: 0px;
	}

	.nav a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}

	.nav a:link, a:visited {
		color: #fff;
	}

	.nav a:hover{
		color: #B29962;
	}

	#header {
		position: fixed;
		width: 100%;
		top: 0px;
		background-image: linear-gradient(to bottom, #050F19, #050f19ee 60%, transparent 100%);
		z-index: 100;
		height: 20vh;
		left: 0px;
		right: 0px;
		top: 0px;
		pointer-events: none;
	}

	#title {
		font-family: 'Inter';
		font-size: 8vh;
		color: #fff;
		padding: 1.5vh 5vh;
		width: 66.6vh;
		position: relative;
		margin: 0px;
		pointer-events: auto;
	}

	.nav {
		position: absolute;
		top: 0px;
		right: 8.3vh;
		padding: 4vh 3.3vh;
		pointer-events: auto;
	}

	.nav-link {
		font-family: 'Oswald';
		font-size: 3.3vh;
		padding-left: 7.5vh;
	}

	#cv{
		color: #DBC15B;
		border-bottom: 0.5vh solid;
		padding: 0;
	}

	#cv:hover{
		color: #B29962;
	}
	

	#content{
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-image: linear-gradient(to bottom right, #050F19DD, #061840DD 70%), url("../images/texture.png");
	}	

	#contact-container{
		margin-top: 26.7vh;
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#contact-title{
		font-family: "Poppins";
		font-size: 6.9vh;
		color: white;
		border-bottom: 0.37vh solid #B29962;
		width: 37.8vh;
	}

	#links{
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 8.33vh;
	}

	#links img{
		width: 14.5vh;
		height: 14.5vh;
		fill: white;
	}

	#links img:hover{
		filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(1331%) hue-rotate(182deg) brightness(96%) contrast(81%);
	}

	#divider{
		width:0px; 
		height: 8.33vh; 
		border: 0.16vh solid #B29962;
	}

	#footer{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}


	#copyright{
	align-self: flex-end;
	color: white;
	font-size: 3vh;
	font-family: "Inter";
	margin: 0px;
	padding: 1%;
}
}







@media (orientation: portrait) {
:root{
		color-scheme: only light;
	}

body {
		margin: 0px;
	}

	.nav a:link, a:visited, a:hover, a:active {
		text-decoration: none;
	}

	.nav a:link, a:visited {
		color: #fff;
	}

	.nav a:hover{
		color: #B29962;
	}

	#header {
		position: fixed;
		width: 100%;
		top: 0px;
		background-image: linear-gradient(to bottom, #050F19, #050f19ee 60%, transparent 100%);
		z-index: 100;
		height: 40vw;
		left: 0px;
		right: 0px;
		top: 0px;
		pointer-events: none;
		display: flex;
		flex-direction: column;
	}

	#title {
		font-family: 'Inter';
		font-size: 15vw;
		color: #fff;
		position: relative;
		margin: 0px;
		pointer-events: auto;
		align-self: center;
	}

	.nav {
		pointer-events: auto;
		display: flex;
		flex-direction: row;
		align-self: center;
		align-items: center;
		gap:10vw;
	}

	.nav-link {
		font-family: 'Oswald';
		font-size: 5vw;
	}

	.nav > #contact{
		display:none;
	}


	#cv{
		color: #DBC15B;
		border-bottom: 0.5vh solid;
		padding: 0;
	}

	#cv:hover{
		color: #B29962;
	}

	#content{
		display: flex;
		flex-direction: column;
		height: 100vh;
		background-image: linear-gradient(to bottom right, #050F19DD, #061840DD 70%), url("../images/texture.png");
	}	

	#contact-container{
		margin-top: 30vh;
		height: 100vh;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	#contact-title{
		font-family: "Poppins";
		font-size: 8vw;
		color: white;
		border-bottom: 1vw solid #B29962;
		width: 44vw;
	}

	#links{
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 8.33vw;
	}

	#links img{
		width: 14.5vw;
		height: 14.5vw;
		fill: white;
	}

	#links img:hover{
		filter: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(1331%) hue-rotate(182deg) brightness(96%) contrast(81%);
	}

	#divider{
		width:0px; 
		height: 12vw; 
		border: 0.2vw solid #B29962;
	}

	#footer{
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
	}


	#copyright{
	align-self: flex-end;
	color: white;
	font-size: 3vw;
	font-family: "Inter";
	margin: 0px;
	padding: 1%;
}


}
